body {
    color: #73879C;
    background: #F7F7F7;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}
strong {
    font-size: 14px;
}
#play_again {
    margin-top: 5px;
}
#result {
    font-size: 25px;
    margin-right: 20px;
}
#results {
    margin-top: 10px;
    display: none;
}
#match_status {
    display: none;
    margin-bottom: 10px;
}
.full-height {
    height: 100%;
}
.center-block {
    float: none !important;
}
.table > tbody > tr > td {
    padding: 50px;
    vertical-align: middle;
    border: 2px solid #E5E6E9 !important;
    background-color: #FFF !important;
    width: 33%;
    cursor: pointer;
}
.table_disabled > tbody > tr > td {
    background-color: #ccc !important;
    cursor: not-allowed;
}
.table > tbody > tr > td .fa-times {
    font-size: 40px;
    color: blue;
}
.table > tbody > tr > td .fa-circle-o {
    font-size: 40px;
    color: red;
}